<%- include('includes/head.ejs') %> 
</head>

<body>
    <%- include('includes/navigation.ejs') %> 

    <main>
        <h2>404</h2>
        <h3>Page not found!</h3>
    </main>
<%- include('includes/end.ejs') %>